<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsAritmeticaSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="wsAritmeticaSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44346/wsAritmetica.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsAritmeticaSoap"
                contract="Servicio.wsAritmeticaSoap" name="wsAritmeticaSoap" />
        </client>
    </system.serviceModel>
</configuration>